body {
    background-image: url("/Background.jpg");
    background-color: rgb(235, 235, 235);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }  

  .everything {
    display: grid;
    /* background-color: rgb(235, 235, 235); */
    grid-template-columns: 2fr 1fr .5px 2.5fr 2fr; 
    grid-template-rows: auto;
  }


  .leftcol {
    display: grid;
    grid-column: 2;
    /* background-color: rgb(235, 235, 235); */
    grid-gap: 10px;
    margin: 2mm;
  }
  .leftcol > div {
    margin: auto;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    bottom: 10px;
    top: 10px;
    box-shadow: 10px 10px 8px grey;
  }
  .counter > {
    display: grid;
    width: 100%;
  }
  .counter2{
    margin: auto;
    background-color: white;
    position: fixed;
    bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 8px grey;
  }
  .rightcol {
    grid-column: 4;
    display: grid;
    grid-gap: 20px;
    padding: 10px;
    /* background-color: rgb(235, 235, 235); */

  }
  .rightcol > div {
    top: 0mm;      
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 8px grey;
  }  
  #lastname {
      color: black;
      margin-top: -8mm;
      margin-bottom: -3mm;
  }
  

  .container{
     display:grid;
     grid-gap: 10px;
     grid-template-columns:50px 50px 50px 50px;
     grid-template-rows:50px;
     background-color: white;
     margin-top: 3mm;
     margin-bottom: -1mm;
  }
  .containeritem{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .containeritem .image{
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color: hotpink; */
  }
  .containeritem .image img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transform:scale(.85);
    
  }   
  .containeritem:hover .image img{
     transform:scale(.75);
  }

  [id*="title"] {
    margin-bottom: -3mm;
    text-decoration: underline;
  }

  [id*="text"]{
    margin-left: 3mm;   
  }

  [id*="singleindent"] {
    margin-left: 3mm;
    margin-top: -3mm;
  }

  [id*="doubleindent"] {
    margin-left: 6mm;
    margin-top: -3mm;
  }

  [id*="tripleindent"] {
    margin-left: 9mm; 
    margin-top: -3mm;
  }

  [id*="subheading"] {
    font-size: 90%;
    font-weight: bold;
  }

  /* outer grid container */
  .skillslist{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: auto;
     margin-top: 6mm;
     margin-bottom: 5mm;
  }
  .skillslist > div{  
    text-align: left;
    margin-left: 1mm;
  }
  .skilltitle{
     grid-row: 1;
     grid-column: 1 / 4;
     text-decoration: underline;
     margin-bottom: -8mm;
     margin-top: -3mm;
     transform: translate(-.9%, -4mm); 
  }